<% if (!user) { %>
  <div class="hero-unit">
    <h1>歡迎來到 茶繪君 (Demo)  <i class="icon-pencil"></i></h1> 
    <p>茶繪君是一個繪畫分享社區。</p>    
    <p>
      <a class="btn btn-primary btn-large" href="/login">登錄</a>
      <a class="btn btn-large" href="/reg">立即註冊</a>
    </p>

    <div font-size = "5px;">      
      <a href="http://blog.renren.com/blog/bp/Q7OUDPg0kY">最近更新 Jun 16th...</a><br>

      幷發部份的實現有 <code>bug </code>。。請不要在別人畫畫的時候同時操作。<br>
      按住 <code>Shift</code> 鍵可繪製直線。<br>
      按住 <code>Ctrl + Z</code> 可撤销上次操作。（似乎也可以撤銷別人的操作。。。<br>
    </div>    
  </div>
<% } else { %>
  <%- partial('say') %> 
<% } %>

<%- partial('paint') %>


<%- partial('posts') %> 

