<!-- colorpicker -->
    <link rel="stylesheet" href="stylesheets/colorpicker.css" />
    <link rel="stylesheet" href="stylesheets/layout.css" />

<!-- slides -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  
      <div>  
        <canvas id="Canvas" width="1168" height="600" style="border:1px solid #000;">
          Your browser does not support HTML5 Canvas.
        </canvas> 
        
        <br>
        <br>
        <p onclick="clearCanvas()" class="btn btn-primary btn-small">Clear</p>
        <p onclick="save()" class="btn btn-primary btn-small">Save</p>
        <p onclick="load()" class="btn btn-inverse btn-small">Load</p>
        <br>
        <br>
        <p onclick="setTool('pencil');" class="btn btn-primary btn-small">Pencil</p>
        <p onclick="setTool('crayon');" class="btn btn-inverse btn-small">Crayon</p>
        <p onclick="setTool('eraser');" class="btn btn-primary btn-small">Eraser</p>      
        <br>

        <br><br>
        <div>
          <label for="brushSize">筆刷大小:
            <input type="text" id="brushSize" style="border: 0; color: #f6931f; font-weight: bold;" disabled/>
          </label>
          <div id="brushSizeSlider"></div>
        </div>

        <br><br>

        <div>
          <label for="brushAlpha">筆刷濃度:
            <input type="text" id="brushAlpha" style="border: 0; color: #f6931f; font-weight: bold;" disabled/>
          </label>
          <div id="brushAlphaSlider"></div>
        </div>        

        <br><br>

        <div id="colorSelector" class="colorSelector"><div style="background-color: #0000ff"></div></div>  
        <div id="colorSelector2" class="colorSelector"><div style="background-color: #00ff00"></div></div>        

        <label for="onlineUserNumber">在線人數:
          <input type="text" id="onlineUserNumber" style="border: 0; color: #f6931f; font-weight: bold;" disabled/>
        </label>

    <!--
    <script src="http://code.jquery.com/jquery.js"></script>        
    <script src="http://code.jquery.com/jQuery.colorpicker.js"></script>
    -->
    <script src="/javascripts/jquery.js"></script>        
    <script src="/javascripts/colorpicker.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-typeahead.js"></script>  
  
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/paint.js"></script>
    <script src="/javascripts/utils.js"></script>
    <script src="/javascripts/layout.js"></script>
    <script src="/javascripts/eye.js"></script>
    <script src="/javascripts/colorpicker.js"></script>
    <script src="/javascripts/layout.js?ver=1.0.2"></script>          

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>      

    <script type="text/javascript">     
      $(document).ready(function(){
        init();
        prepareCanvas();
      });
    </script>
